html,
body {
  margin: 0;
  padding: 0;
  border: 0;
}

.contain {
  /* height: 100vh; */
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
        url(../images/background.jpg); */
  /* background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    border: 0; */
  width: 60%;
  margin: 0 auto;

}

.menu {
  display: none;
  padding: 0;
  font-size: 20px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #e78200;
}

.adm-nav .dropdown {
  display: none;
}

.menu:hover {
  cursor: pointer;
}

/* nav,
.adm-nav {
  position: fixed;
  top: 0;
  width: 100%
} */

/* .logo,
.adm-logo {
  float: left;
  height: 48px;
  margin: 16px 48px
} */

nav li .active-link {
  color: #e78200;
}

/* nav ul,
.adm-nav ul,
.menu {
  float: right;
  margin: 0;
  margin: 30px 48px 16px
} */

/* nav ul li,
.adm-nav ul li {
  display: inline-block;
  padding-left: 22px
}

nav ul li a,
.adm-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: sans-serif;
}

nav ul li a:hover,
.adm-nav ul li a:hover {
  color: #e78200;
} */

h1 {
  text-align: center;
  font-size: 45px;
  letter-spacing: 2px;
  color: aliceblue;
  margin-bottom: 40px;
  font-family: 'serif'
}

h1 span {
  color: #43a047
}

.form-box {
  background-color: rgba(14, 102, 85, 0.5);
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.form-box span {
  font-weight: bold;
  color: #ddd;
  font-family: sans-serif;
}

.form-box select {
  outline: none;
  height: 50px;
  padding: 10px;
  width: 200px;
  line-height: 50px;
  /* margin-right: 20px; */
  font-size: 14px;
  color: #444;
  border-radius: 4px;
  border: none
}

.form-box input {
  outline: none;
  height: 50px;
  padding: 10px;
  width: 70px;
  line-height: 50px;
  box-sizing: border-box;
  font-size: 14px;
  color: #444;
  border-radius: 4px;
  border: none
}

.account-btn {
  outline: none;
  height: 50px;
  padding: 10px;
  /* margin-left: 5px; */
  width: 100px;
  border: none;
  font-size: 14px;
  background-color: #329036;
  text-align: center;
  color: #fff
}

.account-btn:hover {
  background-color: #28862C
}

/* 
.dropdown .active-link {
  color: transparent;
}

.adm-nav li .active-link {
  color: #e78200;
} */

.dropdown a,
.dropdown .active-link {
  display: none;
}



@media screen and (max-width: 892px) {
  h1 {
    font-size: 1.5rem;
  }

  .form-box {
    padding: 20px 20px;
  }

  .form-box select {
    /* width: 180px; */
  }

  .account-btn {
    width: fit-content;
  }

}

@media screen and (max-width: 772px) {
  .account-btn {
    /* margin-top: 10px; */
    display: block;
    width: 60%;
    /* margin-left: 20%; */
  }
}

@media screen and (max-width: 688px) {
  /* .weight {
    display: inline-block;
    margin-left: 20%;
    margin-top: 10px;
  } */

  .contain {
    width: 80%;
  }

  .form-box {
    background-color: rgba(14, 102, 85, 0.5);
    /* padding: 30px 50px; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 100%;
  }

  .form-box input {
    /* margin-top: 10px; */
    width: 20%;
  }
}

@media screen and (max-width: 736px) {
  /* .logo {
    margin: 16px 10px
  }

  nav ul {
    margin: 30px 10px 16px
  }

  nav ul li {
    padding-left: 10px
  } */
}

@media screen and (max-width: 538px) {
  /* .too {
    padding-right: 20px;
  }

  .too,
  .from {
    display: inline-block;
    margin-left: 20%;
  } */

  .account-btn {
    width: 80%;
  }

  .form-box select {
    width: 80%;
    /* margin-top: 10px; */
  }

  .form-box>select,
  .form-box>span,
  .form-box>button {
    margin-bottom: 0.5em
  }
}

@media screen and (max-width: 830px) {
  /* .adm-nav ul {
    margin: 30px 18px 16px
  }

  .adm-nav ul li {
    padding-left: 12px
  }

  .adm-logo {
    margin: 16px 10px
  } */
}

@media screen and (max-width: 634px) {
  .adm-nav ul {
    display: none
  }

  .adm-nav .dropdown {
    display: none;
  }

  .menu {
    display: block
  }

  .adm-nav .dropdown {
    position: absolute;
    right: 70px;
    top: 50px;
    width: 200px;
    padding: 0;
  }

  .adm-nav .dropdown span {
    display: block;
    text-align: right;
    padding: 0px
  }

  .adm-nav .dropdown span a {
    color: #fff;
    display: block;
    padding: 7px;
    width: 100%;
    background-color: rgba(85, 85, 85, 0.7);
    text-decoration: none;
    font-family: sans-serif;
  }

  .adm-nav .dropdown span .active-link {
    color: #e78200;
    background-color: rgba(51, 51, 51, 0.8);
  }

  .adm-nav .dropdown span a:hover {
    background-color: rgba(51, 51, 51, 0.8);
  }
}

@media screen and (max-width: 483px) {
  /* .logo {
    margin-bottom: 5px
  }

  nav ul {
    margin-top: 5px;
  } */
}