section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

bg-img.btn{
  text-decoration: none !important;
}

#form-container {
  margin-top: 4rem;
  margin: 0 auto;
  padding: 1em;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 3px;
}

#form-container h1 {
  font-size: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

#form-container .container label {
  text-align: left;
}

.user-form {
  max-width: 85%;
  margin: 0 auto;
}

.staff-login {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  opacity: 1;
  background-color: #fff;
}

.staff-forms {
  width: 100%;
  margin: 0 auto;
  padding: 1em 0.8em;
  font-size: 0.8rem;
  background-color: #ddd;
}

/* Input fields */

input[type=email],
input[type=text],
input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 1px 0 10px 0;
  border: none;
  background: #dad8d8;
}

input[type=email]:focus,
input[type=text]:focus,
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

#adminLink {
  margin: 0 auto;
  width: fit-content;
  padding: 0.2em 1em;
  margin-top: 1em;
}

#adminLink a {
  text-decoration: none;
}


/* Form buttons */
.btn {
  width: 100%;
  padding: 0.5em 0em;
  display: block;
  border: none;
  border-radius: 2px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none !important;
}


#form-container .btn {
  background: #4CAF50;
  text-decoration: none;
}


.have-account p {
  width: 100%;
  display: flex;
  justify-content: space-around;
  place-items: center;
  text-align: center;
  margin-top: 1em;
  text-decoration: none;
}

.have-account a {
  text-decoration: none;
  margin-left: 1.5em;
  color: #fff;
  width: fit-content;
  padding: 0.2em 0.5em;
  border: 1px solid #4CAF50;
}

.submit-link {
  text-decoration: none;
}

.loader {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4caf50;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@media screen and (min-width: 768px) {
  #form-container {
    margin: 0 auto;
  }

  .staff-login {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .staff-forms {
    width: 100%;
    padding: 1.2em;
    font-size: 0.8rem;
  }

  .user-form {
    max-width: 40%;
    margin: 0 auto;
  }
}

.login-header {
  display: flex;
  justify-content: space-between;
  margin: 1em;
  height: 10vh;
  background: none;
  color: #ffffff;
}

.login-nav .btn:hover {
  color: #fff;
  background: none;
  border: 1px solid #fff;
}