/* Transaction */

#client {
  min-height: 85vh;
  overflow-y: scroll;
}

.card .card-container {
  width: 100%;
  margin-bottom: 2em;
  background: rgb(236, 238, 236);
}

.card-container h3 {
  padding: 0.5em;
}

.transactions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 0.5em;
  border-top: 2px solid #000;
}

.transactions:hover {
  background: #fff;
}

.transaction .amount {
font-weight: 700;
border-bottom: none;
align-items: center;
}

.amount .view {
  padding:  0.1em 1em;
  border: 1px solid #282;
  color: #282;
  border-radius: 3px;
  cursor: pointer;
}

.amount .view:hover {
  color: #fff;
  background: #282
}

.view-transactions {
  width: fit-content;
  margin: 0.5em 0em ;
  /* border-bottom: 4px solid black; */
}

#account-transactions {
  background: #ececec;
  padding: 0.5em;
}

#account-transactions h2 {
  width: fit-content;
  font-size: 1.2em;
  margin: 0.3em 0;
}

.account,
.mini-statement,
.balance-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date-transaction p {
  margin-left: 1em;
}

.search-one {
  display: flex;
  justify-content: center;
  margin: 0.5em 0;
}

.search-one >.client-btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.transaction-inputBox {
  padding-left: 0.5em;
}

.delete-account {
  background: #f55;
  font-size: 1em;
}

.cashier-actions {
  display: flex;
  justify-content: center;
  margin: 0.8em 0;
}

.cashier-btn,
.transaction-amount {
  width: 30%;
  margin: 0 0.5em;
}

.debit-account {
  background: #f55;
}

/* Footer */
#footer {
  text-align: center;
}

@media screen and (min-width: 768px) {

  .card {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between
  }

  .card .card-container {
    width: 48%;
  }

  .view-transactions {
    margin: 0.5em 1.8em ;
  }
}
